.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

.indicatorMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.progressMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: aliceblue;
}